/* b2.css */
html {
    background-color: black;
    font-size: 20px;
  }
  
  h1,h2,div { 
    color: whitesmoke;

  }

  ul {
    background: rgb(78, 87, 95);
    padding: 10px;
    border: 1px solid black;
  }
  
li {
    margin-left: 1px;
  }

button {
  height: 100px;
  width: 120px;
    background-color: goldenrod;
    font-size: 30px;
  }

p {
  height: 60px;
  background-color: rgb(10, 7, 0);
  color: greenyellow;
  font-size: 50px;
  padding: 0px 0px 0px 0px;
  }
   