/*aspectos generales: bordes y color de fondo de calculadora*/
.calculadora { border: 2px blue ridge; width: 880px; text-align: center;
    background-color: #f6f8d8; padding: 0px; font-family: sans-serif; }

/* .visores { align-items: center; background-color: mediumturquoise; padding: 0px;} */

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
#visor_id1, #visor_id2 { width: 870px; border: 0px black solid; text-align: left; 
      position: relative; left: 3px;  padding: 0px;
      background-color: black; color: chartreuse; 
      font-size: 50px;overflow: hidden;}

/*botones normales: anchura y margen*/
.calculadora [type=button] { width: 120px; height: 100px; padding: 0; font-size: 30px;
             }
/*botones especiales*/
.calculadora input.largo { background-color: mediumslateblue;}
/* .calculadora input.largo { color: red; width: 60px; } */