/*aspectos generales: bordes y color de fondo de calculadora*/
.evDiv0_class { border: 2px blue ridge; width: 900px;text-align: center;
    background-color: #f6f8d8; padding: 2px; font-family: sans-serif; }

/* .visores { align-items: center; background-color: mediumturquoise; padding: 0px;} */

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
.evDiv1_class { width: 890px; border: 0px black solid; text-align: left; 
      position: relative; left: 3px;  padding: 2px;
      background-color: black; color: chartreuse; 
      font-size: 50px;overflow: hidden;}

/*botones normales: anchura y margen*/
<<<<<<< HEAD
.evDiv2_class [type=button] { width: 18%; height: 120px; font-size: 30px; }
.evP1_class   [type=button] { width: 16%; height: 100px; font-size: 25px; }
.evP2_class   [type=button] { width: 80px;  height: 80px;  font-size: 20px; }
=======
.evDiv2_class [type=button] { width: 120px; height: 120px; font-size: 30px; }
.evP1_class   [type=button] { width:   16%; height: 100px; font-size: 35px; }
.evP2_class   [type=button] { width:  80px; height:  80px; font-size: 20px; }
>>>>>>> b5bfb3a14a44285c700ad3c7cfb42504a33c7f08
/* evDiv2_id { [type=button] { width: 120px; height: 120px; padding: 0px; font-size: 30px; } */


/*botones especiales*/
.calculadora input.largo { background-color: mediumslateblue;}
/* .calculadora input.largo { color: red; width: 60px; } */
