/*aspectos generales: bordes y color de fondo de calculadora*/

body {
    background-color: aquamarine;
    text-align: center; /*  Centrar TODOS HIJOS */
}
/*
.evDiv0_class { border: 2px blue ridge; width: 900px;text-align: center;
    background-color: #f6f8d8; padding: 2px; font-family: sans-serif; }
    align-content: center;
    text-align: center;

*/
.evDiv0_class { 
    display: inline-block;     /* para poder centrar en el BODY */
    border: 2px blue ridge;
    width: 900px ;
    background-color: #f6f8d8;
    padding: 2px;
    font-family: sans-serif;
}


/* .visores { align-items: center; background-color: mediumturquoise; padding: 0px;} */

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.
    position: relative;
    text-align: center; 

*/
.evDiv1_class { width: 100%; border: 0px black solid;
    text-align: left; 
    left: 3px;  padding: 2px;
    background-color: black; color: chartreuse; 
    font-size: 50px;
    overflow: hidden;
}

.evDiv2_class {
    font-size: 80px;
}


/* Teclado 
Se elije una clase desde JavaScript 
evKeyClases = ['evP1_class', 'evP2_class', 'evP3_class', 'evP4_class'];
*/
.evP1_class   [type=button] { width: 100px; height: 100px; font-size: 25px; padding: 0px; }
.evP2_class   [type=button] { width: 100px; height: 100px; font-size: 25px; padding: 2px; background-color: darksalmon;}
.evP3_class   [type=button] { width: 80px;  height: 80px;  font-size: 20px; padding: 0px; background-color: greenyellow;}



/*botones especiales*/
.calculadora input.largo { background-color: mediumslateblue;}
/* .calculadora input.largo { color: red; width: 60px; } */
